.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.nav {
	width: auto;
	height: 150px;
	display: flex;
	padding: 15px;
}

.nav-section {
	align-items: center;
	gap: 6px;
}

.nav-start {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-start;
	text-align: start;
}

.nav-middle {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	text-align: center;
}


.nav-title {
	font-size: 300%;
}

.nav-end {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: flex-end;
	text-align: end;
}

.user-img {
	background-image: url("../imgs/SampleUserIcon.png");
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	width: 30px;
	aspect-ratio: 1 / 1;
}

.expandable-menu-button {
	width: 25px;
	height: 25px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background: transparent;
}

.expandable-menu-button:hover {
	background-color: var(--background-secondary);
}

.expandable-menu-button:active {
	scale: 0.92;
}

.expandable-menu-icon {
	width: 100%;
	height: 100%;
	transition: 250ms;
}

.expand-up {
	rotate: -0.25turn;
}

.expand-down {
	rotate: 0.25turn;
}


.expand-left {
	rotate: 0.5turn;
}


.expand-right {
	rotate: 1turn;
}

.expandable-menu-icon path {
	fill: var(--inverted-primary);
	stroke: var(--inverted-primary);
}

.dropdown {
	translate: 0 calc(50% - 12.5px);
}

.menu-content {
	margin-top: 5px;
	flex-direction: column;
	align-items: end;
	width: fit-content;
	transform-origin: top center;
	overflow-y: hidden;
}

.menu-content:not(.menu-shown) {
	animation: dropdownHideAnimation 250ms ease-in-out forwards;
}

.menu-shown {
	display: block !important;
	animation: dropdownShowAnimation 250ms ease-in-out forwards;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: end;
	padding: 4px;
	background: #fff;
	height: 40px;
	width: 100%;
}

@keyframes dropdownShowAnimation {
	0% {
		rotate: x -90deg;
	  }
	  70% {
		rotate: x 20deg;
	  }
	  100% {
		rotate: x 0deg;
	  }
}

@keyframes dropdownHideAnimation {
	0% {
		rotate: x 0deg;
	  }
	  100% {
		rotate: x -90deg;
	  }
}

@media screen and (max-width: 450px) {
	.nav {
		flex-wrap: wrap;
		height: max-content;
	}

	.nav-middle {
		order: 1;
	}
	
	.nav-start {
		order: 2;
		width: 50%;
	}

	.nav-end {
		order: 3;
		width: 50%;
	}

}