body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.logo {
    font-size: 250%;
    font-weight: 900;
}

.logo-colored {
    background: -webkit-linear-gradient(left, #9316fa, #b329b8, #300cb3);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

