.content {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
}

.chat {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	overflow-y: scroll;
	width: 100%;
	height: 100%;
	padding: 15px 0 15px 0;
}

.chat::-webkit-scrollbar {
	display: none;
}

.chat-warn, .chat-message {
	width: calc(100% - 30px);
	padding: 5px;
	margin: 1px 0;
	border-radius: 10px;
}

.chat-message {
	display: flex;
	flex-direction: column;
	background-color: rgba(0, 0, 0, 0.6);
}

.message-author {
	font-weight: 600;
	margin-bottom: 5px;
}

.chat-warn {
	background-color: rgba(150 ,150 , 0, 0.3);
}

.send-message {
	display: flex;
	justify-content: space-between;
	width: calc(100% - 30px);
  position: relative;
 height: min-content;
	padding: 0 15px 15px 15px;
	background-color: rgba(0, 0, 0, 0.5);
}

.message-input {
	width: calc(100% - 50px);
	border: none;
	resize: none;
	overflow-y: scroll;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	height: 100%;
	font-size: 115%;
}

.message-input:focus {
	outline: 1px solid var(--inverted-primary);
}

.message-input::-webkit-scrollbar {
	display: none;
}

.submit-button {
	border: none;
	width: 45px;
  height: 45px;
  font-size: 115%;
  border-radius: 10px;
}

.users-list {
  display: flex;
	align-items: center;
	overflow-x: hidden;
	width: calc(100% - 15px);
	padding: 0 7px 0 7px;
	height: 60px;
}

.connected-user {
	border: 2px solid #00e000;
	border-radius: 15px;
	padding: 5px 25px;
	margin: 0 7px;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.adapt-text-size {
  font-size: 145%;
}

@media screen and (max-width: 450px) {
	.adapt-text-size {
		font-size: 110%;
	}
}